@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    background-color: #233eff;
}

h1{
    padding: 10px;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.553);
}