@charset "UTF-8";

/*typical device breakpoints
Celular - 320px — 480px.
Tablet - 481px — 768px.
DeskTop - 769px — 1200px.
Tv - 1200px*/


@media print{

h1{
    color: black;
    text-shadow: none;
}
main{
    border: 1px rgba(0, 0, 0, 0.661) solid;
    width: 90vw;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}

main::after{
    content: "Essa página foi imprimida dia 11/07/23";
    text-decoration:underline;
}

#icon-Cel{display: none;}
#icon-Tab{display: none;}
#icon-pc{display: none;}
#icon-Imp{display: block;}
#icon-Tv{display: none;}
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    main{
        width: 60vw;
    }

#icon-Cel{display: none;}
#icon-Tab{display: block;}
#icon-pc{display: none;}
#icon-Imp{display: none;}
#icon-Tv{display: none;}
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    main{
        width: 80vw;
    }

#icon-Cel{display: none;}
#icon-Tab{display: none;}
#icon-pc{display: block;}
#icon-Imp{display: none;}
#icon-Tv{display: none;}
}

@media screen and (min-width: 1500px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 90vw;
    }

#icon-Cel{display: none;}
#icon-Tab{display: none;}
#icon-pc{display: none;}
#icon-Imp{display: none;}
#icon-Tv{display:  block;} 
}
