@charset "utf-8";

@media screen and (min-width: 768px){

    menu{
        padding: 10px;
    }
    menu > ul > li{
        display: inline-block;
        margin-left: 10px;
        border-radius: 5px;
    }
    menu > ul{
        display: block;
    }
    #menuBurguer{
        display: none;
    }

    main{
        width: 768px;
    }
}